@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.header, .left-links, .right-links {
  display: flex;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
}

.footer {
  background: #eee;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: darkgray;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


